.products-slider-pagination .swiper-pagination-bullet {
    width: 24px;
    height: 6px;
    border-radius: 9999px; /* fully curved */
    background-color: #D1D5DB; /* gray-300 */
    opacity: 1;
    transition: background-color 0.3s ease;
}
.products-slider-pagination .swiper-pagination-bullet-active {
    background-color: #4B5563; /* black-600 */
}

#about-slider-prev{
        position: absolute;
    left: 0px;
}
#about-slider-next{
        position: absolute;
    right: 0px;
}

.about-page-slider{
    height: 90vh;
}